.DS_Store/
.idea/
.mta/
.nyc_output/
coverage/
node_modules/

/out

*.iml
*.tmp.json
**/tmp/
**/default-env.json
**/mt-config.json
**/em-config.json
**/xs-security.json
**/pdm-config.json
**/pdm-config-for-binding.json
**/package-lock.json

*.mtar
*.jar

**/node_modules

local.js
tmp*.*
test/int/resources/**/big-file-*.csv

test/mocha*.log
logs/

*.crt
*.key
gen
mta_archives

.DS_Store